*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.pexels.com/photos/1190830/pexels-photo-1190830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Ruluko', sans-serif;
}

main{
  display:grid;
  justify-content: center;
/*   padding-top: 20%; */
}

.mainText{
  align-self: center;
  color: white;
  text-align: center;
}

.mainText h1 {
  letter-spacing: 0.1em;
  font-size: 5em;
  text-transform: uppercase;
  
}

.mainText h3 {
  letter-spacing: 0.1em;
  font-size: 2em;
}

.timeContainer {
  background: white;
  padding: 5%;
}

.btn{
  color: white;
  font-size: 1em;
  width: 25%;
  justify-self: center;
  background-color: transparent;
  padding: 2%;
  border-radius: 25px;
  font-weight: bold;
}
#timer {
  display: flex;
  justify-content: space-between;
}

.resultTime {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  
}

.number{
  font-size: 2em;
  color: black;
  font-weight: bold;
}

.label{
  color:black;
  opacity: 50%;
  font-size: 1.2em;
  
}
