*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.pexels.com/photos/1190830/pexels-photo-1190830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Ruluko', sans-serif;
}

main{
  display:grid;
  justify-content: center;
  padding-top: 10%;
}

.mainText{
  align-self: center;
  color: white;
  text-align: center;
}

.mainText h1 {
  letter-spacing: 0.1em;
  opacity: 80%;
  font-size: 4em;
  margin-bottom: 0.1em;
  
}

.mainText p {
  letter-spacing: 0.1em;
  font-size: 1.3em;
}

.timeContainer {
  padding: 5%;
}

#timer-secs {
  border-right: 0 !important;
}

.btn{
  color: black;
  opacity: 55%;
  font-size: 1em;
  width: 40%;
  justify-self: center;
  background-color: white;;
  padding: 2%;
  border-radius: 25px;
  font-weight: bold;
  outline: none;
}
#timer {
  display: flex;
  justify-content: space-around;
  width: 70%;
  text-align: center;
  margin-left: 18%;
}

.resultTime {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-right: solid 1px gray;
  padding-right: 2%;
  
}

.number{
  font-size: 2em;
  color: black;
  font-weight: bold;
}

.label{
  color:black;
  opacity: 50%;
  font-size: 1.2em;
  
}
