*{
    margin: 0;
    padding: 0;
}

body{
    /* background: linear-gradient(to top, #e3e7ee, #d7deef, #cdd5f0, #c5cbf0, #c0c0ef); */
    /* background: #1D1D1D; */
    background-image: url("img/laptop.jpeg"); 
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    color: silver;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(219, 207, 207, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  #overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size: 50px; */
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

#navBar {
    height: 10vh;
    width: 100vw;
    opacity: 0.95;
    display: grid; 
    box-shadow: 1px 2px 4px grey;
    background: rgba(255, 248, 248, 0.1);
    grid-template-columns: 60% 40%;
    /* font-weight: 900; */
  }
  
#navBar-brand {
    align-self: center;
    padding-left: 2%;
    color: white;    
    padding: 5px 20px;
    display: grid;
    grid-template-rows: 50% 50%;
  brand  grid-row-gap: 10px;
    border: 2px solid red;
}

#navBar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
  }
  
#navBar- i {
  padding-left: 40px;
}

  
  #navbar-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 20px;
    padding-top: 25px;
  }
  #navbar-items li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
main {
    height: 70%;
    display: flex;
    height: 89vh;   
    align-content: center;
    justify-content: center;
}


#home-content{
    /* display: grid; */
    text-align: center;
    /* padding-top: 30vh;
    width: 60%;
    height: 100%; */
}

/* #home-content h2{
    width: 380px;
    height: 40px;
    background: black;
}

#home-content a{
    text-decoration: none;
    color: white;   
    background: #82878a;
    border-radius: 25px;
    padding: 20px 20px;
    margin-right: 5em;
} */


#home-content img {
    border-radius: 50%;
    height: 25%;
    width: 35%;
    border: 1px solid #ddd;
}